/*Header*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("img/header-bg.jpg");
    background-size: cover;
    color: #fff; 
}

.navigation ul {
    list-style: none;
    padding-left: 0px;
    float: right;
    margin: 0;
}

.navigation {
    background-color:rgba(255, 255, 255, 0.1)
}

.navigation li {
    display: inline-block;
}

.navigation a {
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px;
}

.navigation li:hover, .navigation li:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation li:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.logo {
    line-height: 44px;
    padding-left: 15px;
}

.navigation a, .call-to-action h1 {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; 
}

.call-to-action {
    text-align: center;
    padding: 140px 0px 70px 0px;
}

.call-to-action h1 {
    font-size: 60px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.section-title {
    background-color: #ec313c;
    text-transform: uppercase;
    padding: 5px 35px;
    color: #fff;
    text-align:center;
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
}

.services h2 {
    text-align: center;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0px 25px;
    box-sizing: border-box;
    text-align: center;
}

.col-4:hover .icon {
    background-image: url("img/intro-icons-hover.png");
}

.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url("img/intro-icons.png");
}

.psd .icon{
    background-position: -60px 0px;
}

.programming .icon: {
    background-image: -120px 0px;
}

/*Additional*/
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


